include ../../../ui/ui

mixin commands_raw(command, host)
    .order(data-order= command._id)
        .order__date(data-date= command.date)= command.date
        .order__name= command.teamName
        .order__token= command.commandToken
        .order__customer= command.track
        .order__contact= command.members
        - keys = ["new", "in-progress", "completed"];
        - values  = ["Новая", "В работе", "Завершенно"];
        +select(keys, values, command._id, command.stage)(class= "order__select " + command.stage)
        .order__options.options
            .circle
            .circle
            .options__container
                .options__item.open
                    a(class= "order__open", href= host + "/admin/commands/" + command._id) Открыть
                .options__item.remove
                    i Удалить
            .circle