include ../../../ui/ui
include components/members_admin_doc
include components/members_raw


+admin_doc(["admin/style/admin.css"], ["admin/js/moment.js", "ui/ui.js", "admin/js/member_order.js"], host)
    .order-page
        .order(data-id= member._id)
            .order__title(data-key= "name")
                span.order__content= member.name 
                span.material-symbols-outlined.order__edit edit
                .order__secondTitle(data-key= "surname")
                    span.order__content= member.surname 
                    span.material-symbols-outlined.order__edit edit
                .order__thirdTitle(data-key= "patronymic")
                    span.order__content= member.patronymic 
                    span.material-symbols-outlined.order__edit edit
            .order__info
                .order__birthDay(data-key= "birthDay")
                    span.order__content= member.birthDay
                    span.material-symbols-outlined.order__edit edit
                .order__email(data-key= "email")
                    span.order__content= member.email
                    span.material-symbols-outlined.order__edit edit
                .order__tel(data-key= "tel")
                    span.order__content= member.tel
                    span.material-symbols-outlined.order__edit edit
                .order__memberStatus(data-key= "memberStatus")
                    span.order__content= member.memberStatus
                    span.material-symbols-outlined.order__edit edit
                .order__commandToken(data-key= "commandToken")
                    span.order__content= member.commandToken
                    //- span.material-symbols-outlined.order__edit edit
                .order__date
                    span.order__content= member.date
            .order__description(data-key= "message")
                span.order__content= member.token
                //- span.material-symbols-outlined.order__edit edit
            +textarea("Комментарий к участнику", "member_comment")
                | #{member.comment}
